In [56]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
flat_data = pd.read_pickle('flat_data')

In [86]:

YEAR = 2016
data.reset_index(inplace = True)
data.rename(columns = {'index' : 'county'}, inplace = True)

def fix_county(obj):
    if 'county' in obj:
        obj = obj + ', Colorado'
        obj = obj.str.title()
        return obj
    elif 'County' in obj:
        return obj + ', Colorado'
    else:
        return(obj + ' County, Colorado')
    
data['county'] = data['county'].apply(fix_county)

data['year'] = YEAR
listy = ['Less than 9th grade', '9th to 12th grade, no diploma', 'High school graduate (includes equivalency)',
        'Some college, no degree', "Associate's degree", "Bachelor's degree", "Graduate or professional degree",
        'Percent high school graduate or higher', "Percent bachelor's degree or higher"]
year_2012 = flat_data.loc[(flat_data['metric'] == 'Total Population') & (flat_data['year'] == YEAR)]
year_2012.drop(['age', 'metric', 'sex', 'year'], axis = 1, inplace = True) 
year_2012['county'] = year_2012['county'].apply(fix_county)
data = data.merge(year_2012, how = 'left', on = 'county')
data.set_index('county', inplace = True)
for x in listy:
    metric = x
    data[metric] = data[metric].str.replace('%', '')
    data[metric] = data[metric].astype(float)
    data[metric] = data[metric]/100
    data[metric] = data[metric] * data['count']
data.reset_index(inplace = True)
data.reset_index(inplace = True)
for y in listy:
    metric = y 
    frame = data[['year', 'county', metric]]
    frame['metric'] = 'Education ' + metric
    frame.rename(columns = {metric : 'count'}, inplace = True)
    flat_data = pd.concat([flat_data, frame])
flat_data.tail(10)

,age,count,county,metric,sex,year
54,NaN,12438.2,"Routt County, Colorado",Education Percent bachelor's degree or higher,NaN,2016
55,NaN,1729.08,"Saguache County, Colorado",Education Percent bachelor's degree or higher,NaN,2016
56,NaN,203.118,"San Juan County, Colorado",Education Percent bachelor's degree or higher,NaN,2016
57,NaN,4312,"San Miguel County, Colorado",Education Percent bachelor's degree or higher,NaN,2016
58,NaN,498.726,"Sedgwick County, Colorado",Education Percent bachelor's degree or higher,NaN,2016
59,NaN,14819.1,"Summit County, Colorado",Education Percent bachelor's degree or higher,NaN,2016
60,NaN,7680.97,"Teller County, Colorado",Education Percent bachelor's degree or higher,NaN,2016
61,NaN,794.625,"Washington County, Colorado",Education Percent bachelor's degree or higher,NaN,2016
62,NaN,76837.6,"Weld County, Colorado",Education Percent bachelor's degree or higher,NaN,2016
63,NaN,2167.63,"Yuma County, Colorado",Education Percent bachelor's degree or higher,NaN,2016

In [89]:
flat_data.to_pickle('flat_data')

In [88]:
data = pd.read_excel('colorado_voter_data.xlsx', sheetname = 10)
data.head()

   FIPS   Geographic Area  Estimate
0     0          Colorado     62520
1     1      Adams County     61444
2     3    Alamosa County     32385
3     5   Arapahoe County     66288
4     7  Archuleta County     45607

In [92]:
for x in range(2011, 2017):
    data.drop('FIPS', axis = 1, inplace = True)
    data.rename(columns = {'Geographic Area' : 'county', 'Estimate' : 'count'}, inplace = True)
    data['Year'] = x
    data['metric'] = 'Average Salary'
    flat_data = pd.concat([flat_data, data])

ValueError: labels ['FIPS'] not contained in axis

In [93]:
data.head()

             county  count  Year          metric
0          Colorado  62520  2011  Average Salary
1      Adams County  61444  2011  Average Salary
2    Alamosa County  32385  2011  Average Salary
3   Arapahoe County  66288  2011  Average Salary
4  Archuleta County  45607  2011  Average Salary

,index,county,Less than 9th grade,"9th to 12th grade, no diploma",High school graduate (includes equivalency),"Some college, no degree",Associate's degree,Bachelor's degree,Graduate or professional degree,Percent high school graduate or higher,Percent bachelor's degree or higher,year,count
0,0,"Adams County, Colorado",37422.6,47497.9,138176,109869,40301.3,72926.1,33584.4,394856,106510,2014,479777
1,1,"Alamosa County, Colorado",1124.99,1283.44,4103.86,4404.91,903.165,2265.84,1774.64,13436.6,4040.47,2014,15845
2,2,"Arapahoe County, Colorado",22245.7,27189.2,126059,142125,52524.6,160663,87129,568501,247792,2014,617936
3,3,"Archuleta County, Colorado",416.772,612.9,3187.08,2782.57,968.382,2880.63,1409.67,11228.3,4290.3,2014,12258
4,4,"Baca County, Colorado",152.208,311.664,1145.18,978.48,347.904,518.232,166.704,3160.13,688.56,2014,3624

,age,count,county,metric,sex,year
54,NaN,12101,"Routt County, Colorado",Education Percent bachelor's degree or higher,NaN,2014
55,NaN,1666.17,"Saguache County, Colorado",Education Percent bachelor's degree or higher,NaN,2014
56,NaN,209.229,"San Juan County, Colorado",Education Percent bachelor's degree or higher,NaN,2014
57,NaN,4177.79,"San Miguel County, Colorado",Education Percent bachelor's degree or higher,NaN,2014
58,NaN,480.186,"Sedgwick County, Colorado",Education Percent bachelor's degree or higher,NaN,2014
59,NaN,14255.9,"Summit County, Colorado",Education Percent bachelor's degree or higher,NaN,2014
60,NaN,7441.84,"Teller County, Colorado",Education Percent bachelor's degree or higher,NaN,2014
61,NaN,777.836,"Washington County, Colorado",Education Percent bachelor's degree or higher,NaN,2014
62,NaN,71995.5,"Weld County, Colorado",Education Percent bachelor's degree or higher,NaN,2014
63,NaN,2188.27,"Yuma County, Colorado",Education Percent bachelor's degree or higher,NaN,2014

,age,count,county,metric,sex,year
59,NaN,13986.1,"Summit County, Colorado",Education Percent bachelor's degree or higher,NaN,2013
60,NaN,7400.18,"Teller County, Colorado",Education Percent bachelor's degree or higher,NaN,2013
61,NaN,776.695,"Washington County, Colorado",Education Percent bachelor's degree or higher,NaN,2013
62,NaN,70465,"Weld County, Colorado",Education Percent bachelor's degree or higher,NaN,2013
63,NaN,2183.76,"Yuma County, Colorado",Education Percent bachelor's degree or higher,NaN,2013

,age,count,county,metric,sex,year
54,Percent bachelor's degree or higher,11711.4,"Routt County County, Colorado",Percent bachelor's degree or higher,NaN,2011
55,Percent bachelor's degree or higher,1669.68,"Saguache County County, Colorado",Percent bachelor's degree or higher,NaN,2011
56,Percent bachelor's degree or higher,201.663,"San Juan County County, Colorado",Percent bachelor's degree or higher,NaN,2011
57,Percent bachelor's degree or higher,4030.1,"San Miguel County County, Colorado",Percent bachelor's degree or higher,NaN,2011
58,Percent bachelor's degree or higher,487.602,"Sedgwick County County, Colorado",Percent bachelor's degree or higher,NaN,2011
59,Percent bachelor's degree or higher,13641.6,"Summit County County, Colorado",Percent bachelor's degree or higher,NaN,2011
60,Percent bachelor's degree or higher,7407.49,"Teller County County, Colorado",Percent bachelor's degree or higher,NaN,2011
61,Percent bachelor's degree or higher,780.607,"Washington County County, Colorado",Percent bachelor's degree or higher,NaN,2011
62,Percent bachelor's degree or higher,67481.8,"Weld County County, Colorado",Percent bachelor's degree or higher,NaN,2011
63,Percent bachelor's degree or higher,2175.37,"Yuma County County, Colorado",Percent bachelor's degree or higher,NaN,2011

In [39]:
flat_data = pd.concat([flat_data, data])

In [53]:
data.head()

,county,Less than 9th grade,"9th to 12th grade, no diploma",High school graduate (includes equivalency),"Some college, no degree",Associate's degree,Bachelor's degree,Graduate or professional degree,Percent high school graduate or higher,Percent bachelor's degree or higher,count
0,Adams County,35236.4,44723.2,130104,103451,37946.9,68665.8,31622.4,371789,100288,451749
1,Alamosa County,1113.21,1270,4060.86,4358.76,893.703,2242.1,1756.05,13295.8,3998.14,15679
2,Arapahoe County,21078.3,25762.3,119443,134667,49768.1,152232,82556.5,538666,234788,585507
3,Archuleta County,408.102,600.15,3120.78,2724.68,948.237,2820.7,1380.35,10994.7,4201.05,12003
4,Baca County,159.558,326.714,1200.48,1025.73,364.704,543.257,174.754,3312.73,721.81,3799

In [72]:
flat_data.to_pickle('flat_data')

180914

,county,Less than 9th grade,"9th to 12th grade, no diploma",High school graduate (includes equivalency),"Some college, no degree",Associate's degree,Bachelor's degree,Graduate or professional degree,Percent high school graduate or higher,Percent bachelor's degree or higher,count
0,Adams County,35236.4,9.9%,28.8%,22.9%,8.4%,15.2%,7.0%,82.3%,22.2%,451749
1,Alamosa County,1113.21,8.1%,25.9%,27.8%,5.7%,14.3%,11.2%,84.8%,25.5%,15679
2,Arapahoe County,21078.3,4.4%,20.4%,23.0%,8.5%,26.0%,14.1%,92.0%,40.1%,585507
3,Archuleta County,408.102,5.0%,26.0%,22.7%,7.9%,23.5%,11.5%,91.6%,35.0%,12003
4,Baca County,159.558,8.6%,31.6%,27.0%,9.6%,14.3%,4.6%,87.2%,19.0%,3799

In [31]:
451749 * .078

35236.422

In [23]:
57916/451749

0.1282039362566381