In [1]:
import pandas as pd

In [10]:
data = pd.read_excel('colorado_voter_data.xlsx', sheetname = 1)

In [11]:
data['Type'].value_counts()

Forcast    28210
Actual      4032
Name: Type, dtype: int64

In [12]:
data = data.loc[data['Type'] == 'Forcast']

In [14]:
def fix_county(obj):
    if 'County' not in obj:
        return(obj + ' County, Colorado')
    else:
        return obj
    
data['County'] = data['County'].apply(fix_county)

In [17]:
data.drop(['Type', 'County Code', 'Participation Rate'], axis = 1, inplace = True)

In [20]:
data.rename(columns = {'YEAR' : 'Year', 'AGE' : 'Age'}, inplace = True)

In [24]:
data.head(1)

,County,Year,Age,Labor Force,Universe,Sex
4032,"Colorado County, Colorado",2010,16 to 19 Labor Force Female,57953.35,129664.0,Female

In [23]:
data['Age'] = data['Age'] + ' Labor Force ' + data['Sex']

In [25]:
data.rename(columns = {'Age' : 'Measure'}, inplace = True)

In [29]:
pivot_data = data.pivot_table(index = ['County', 'Year'], columns = 'Measure', values = 'Labor Force', aggfunc = 'sum')

In [44]:
pivot_data.reset_index(inplace = True)

In [52]:
pivot_data['Year'] = pivot_data['Year'].astype(str)

In [53]:
pivot_data['Concat'] = pivot_data['County'] + ' ' + pivot_data['Year']

In [55]:
pivot_data.to_pickle('pop_by_age_and_sex')