In [5]:
import pandas as pd
pd.set_option("display.max_rows",1000)
pd.set_option("display.max_columns",100)

In [3]:
d1 = pd.read_excel('colorado_voter_data.xlsx', sheetname = 1)

In [32]:
d1.loc[(d1['County'] == 'Adams County, Colorado') & (d1['YEAR'] == 2010)]

,Type,County,County Code,YEAR,AGE,Labor Force,Universe,Participation Rate,Sex
4466,Forcast,"Adams County, Colorado",NaN,2010,16 to 19,3885.86,11358.00,NaN,Female
4467,Forcast,"Adams County, Colorado",NaN,2010,16 to 19,5229.47,12029.00,NaN,Male
4468,Forcast,"Adams County, Colorado",NaN,2010,20 to 24,8898.39,14223.00,NaN,Female
4469,Forcast,"Adams County, Colorado",NaN,2010,20 to 24,10749.73,14603.00,NaN,Male
4470,Forcast,"Adams County, Colorado",NaN,2010,25 to 34,30167.37,34436.00,NaN,Female
4471,Forcast,"Adams County, Colorado",NaN,2010,25 to 34,34013.14,35580.00,NaN,Male
4472,Forcast,"Adams County, Colorado",NaN,2010,35 to 44,24314.32,31258.00,NaN,Female
4473,Forcast,"Adams County, Colorado",NaN,2010,35 to 44,31144.68,33218.00,NaN,Male
4474,Forcast,"Adams County, Colorado",NaN,2010,45 to 54,21752.34,28747.00,NaN,Female
4475,Forcast,"Adams County, Colorado",NaN,2010,45 to 54,27598.58,29499.00,NaN,Male
4476,Forcast,"Adams County, Colorado",NaN,2010,55 to 64,13868.63,21505.00,NaN,Female
4477,Forcast,"Adams County, Colorado",NaN,2010,55 to 64,15556.42,20892.00,NaN,Male
4478,Forcast,"Adams County, Colorado",NaN,2010,65 and over,3484.44,20446.07,NaN,Female
4479,Forcast,"Adams County, Colorado",NaN,2010,65 and over,4743.40,15677.10,NaN,Male

In [30]:
d1 = d1.loc[d1['Type'] == 'Forcast']

In [ ]:
county_dict = {['County' : 'Adams County, Colorado',
                'Year' : '2010',
                'Age 16 to 19 Male Labor Force' : 5229,
                'Age 16 to 19 Female Labor Force' : 3886,
                'Age 16 to 19 Male Universe' : 12029,
                'Age 16 to 19 Female Universe' : 11358,
                'Age 20 to 24 Female Labor Force' : 8898,
                'Age 20 to 24 Male Labor Force' : 10749,
                'Age 20 to 24 Female Universe' : 14603
                'Age 20 to 24 Male Universe' : ''
               
               ]}

In [35]:
d1.head()

,index,Type,County,County Code,YEAR,AGE,Labor Force,Universe,Participation Rate,Sex
0,4032,Forcast,Colorado,NaN,2010,16 to 19,57953.35,129664.00,NaN,Female
1,4033,Forcast,Colorado,NaN,2010,16 to 19,65588.05,136483.67,NaN,Male
2,4034,Forcast,Colorado,NaN,2010,20 to 24,119625.21,162890.00,NaN,Female
3,4035,Forcast,Colorado,NaN,2010,20 to 24,137450.29,166345.07,NaN,Male
4,4036,Forcast,Colorado,NaN,2010,25 to 34,284488.51,344459.00,NaN,Female

In [40]:
le_2010 = d1.loc[d1['YEAR'] == 2010]

In [61]:
Adams_2010 = d1.loc[d1['County'] == 'Adams County, Colorado']

In [64]:
Adams_2010 = Adams_2010.loc[Adams_2010['YEAR'] == 2010]

In [65]:
Adams_2010

,index,Type,County,County Code,YEAR,AGE,Labor Force,Universe,Participation Rate,Sex
434,4466,Forcast,"Adams County, Colorado",NaN,2010,16 to 19,3885.86,11358.00,NaN,Female
435,4467,Forcast,"Adams County, Colorado",NaN,2010,16 to 19,5229.47,12029.00,NaN,Male
436,4468,Forcast,"Adams County, Colorado",NaN,2010,20 to 24,8898.39,14223.00,NaN,Female
437,4469,Forcast,"Adams County, Colorado",NaN,2010,20 to 24,10749.73,14603.00,NaN,Male
438,4470,Forcast,"Adams County, Colorado",NaN,2010,25 to 34,30167.37,34436.00,NaN,Female
439,4471,Forcast,"Adams County, Colorado",NaN,2010,25 to 34,34013.14,35580.00,NaN,Male
440,4472,Forcast,"Adams County, Colorado",NaN,2010,35 to 44,24314.32,31258.00,NaN,Female
441,4473,Forcast,"Adams County, Colorado",NaN,2010,35 to 44,31144.68,33218.00,NaN,Male
442,4474,Forcast,"Adams County, Colorado",NaN,2010,45 to 54,21752.34,28747.00,NaN,Female
443,4475,Forcast,"Adams County, Colorado",NaN,2010,45 to 54,27598.58,29499.00,NaN,Male
444,4476,Forcast,"Adams County, Colorado",NaN,2010,55 to 64,13868.63,21505.00,NaN,Female
445,4477,Forcast,"Adams County, Colorado",NaN,2010,55 to 64,15556.42,20892.00,NaN,Male
446,4478,Forcast,"Adams County, Colorado",NaN,2010,65 and over,3484.44,20446.07,NaN,Female
447,4479,Forcast,"Adams County, Colorado",NaN,2010,65 and over,4743.40,15677.10,NaN,Male

In [24]:
d1.groupby('YEAR')['YEAR'].count()

YEAR
2010    1358
2011    1358
2012    1358
2013    1358
2014    1358
2015    1358
2016    1358
2017    1358
2018    1358
2019     910
2020     910
2021     910
2022     910
2023     910
2024     910
2025     910
2026     910
2027     910
2028     910
2029     910
2030     910
2031     910
2032     910
2033     910
2034     910
2035     910
2036     910
2037     910
2038     910
2039     910
2040     910
Name: YEAR, dtype: int64

In [20]:
d1.groupby('County')['County'].count()

County
Adams County, Colorado          497
Alamosa County, Colorado        497
Arapahoe County, Colorado       497
Archuleta County, Colorado      497
Baca County, Colorado           497
Bent County, Colorado           497
Boulder County, Colorado        497
Broomfield County, Colorado     497
Chaffee County, Colorado        497
Cheyenne County, Colorado       497
Clear Creek County, Colorado    497
Colorado County, Colorado       434
Conejos County, Colorado        497
Costilla County, Colorado       497
Crowley County, Colorado        497
Custer County, Colorado         497
Delta County, Colorado          497
Denver County, Colorado         497
Dolores County, Colorado        497
Douglas County, Colorado        497
Eagle County, Colorado          497
El Paso County, Colorado        497
Elbert County, Colorado         497
Fremont County, Colorado        497
Garfield County, Colorado       497
Gilpin County, Colorado         497
Grand County, Colorado          497
Gunnison County, Colorado       497
Hinsdale County, Colorado       497
Huerfano County, Colorado       497
Jackson County, Colorado        497
Jefferson County, Colorado      497
Kiowa County, Colorado          497
Kit Carson County, Colorado     497
La Plata County, Colorado       497
Lake County, Colorado           497
Larimer County, Colorado        497
Las Animas County, Colorado     497
Lincoln County, Colorado        497
Logan County, Colorado          497
Mesa County, Colorado           497
Mineral County, Colorado        497
Moffat County, Colorado         497
Montezuma County, Colorado      497
Montrose County, Colorado       497
Morgan County, Colorado         497
Otero County, Colorado          497
Ouray County, Colorado          497
Park County, Colorado           497
Phillips County, Colorado       497
Pitkin County, Colorado         497
Prowers County, Colorado        497
Pueblo County, Colorado         497
Rio Blanco County, Colorado     497
Rio Grande County, Colorado     497
Routt County, Colorado          497
Saguache County, Colorado       497
San Juan County, Colorado       497
San Miguel County, Colorado     497
Sedgwick County, Colorado       497
Summit County, Colorado         497
Teller County, Colorado         497
Washington County, Colorado     497
Weld County, Colorado           497
Yuma County, Colorado           497
Name: County, dtype: int64

In [21]:
d1['County'] = d1['County'].replace('Colorado County, Colorado', 'Colorado')

In [16]:
def fix_county(obj):
    if 'County' not in obj:
        return(obj + ' County, Colorado')
    else:
        return obj

In [19]:
d1['County'] = d1['County'].apply(fix_county)

In [24]:
d1.loc[d1['YEAR'] == 2010].groupby(['Type', 'County', 'YEAR', 'AGE', 'Sex'])['Percent'].sum()

Type     County      YEAR  AGE          Sex
Forcast  Adams       2010  16 to 19     Female    0.008758
                                        Male      0.011786
                           20 to 24     Female    0.020054
                                        Male      0.024227
                           25 to 34     Female    0.067989
                                        Male      0.076656
                           35 to 44     Female    0.054798
                                        Male      0.070191
                           45 to 54     Female    0.049024
                                        Male      0.062199
                           55 to 64     Female    0.031256
                                        Male      0.035060
                           65 and over  Female    0.007853
                                        Male      0.010690
         Alamosa     2010  16 to 19     Female         NaN
                                        Male           NaN
                           20 to 24     Female         NaN
                                        Male           NaN
                           25 to 34     Female         NaN
                                        Male           NaN
                           35 to 44     Female         NaN
                                        Male           NaN
                           45 to 54     Female         NaN
                                        Male           NaN
                           55 to 64     Female         NaN
                                        Male           NaN
                           65 and over  Female         NaN
                                        Male           NaN
         Arapahoe    2010  16 to 19     Female         NaN
                                        Male           NaN
                                                    ...
         Washington  2010  65 and over  Female         NaN
                                        Male           NaN
         Weld        2010  16 to 19     Female         NaN
                                        Male           NaN
                           20 to 24     Female         NaN
                                        Male           NaN
                           25 to 34     Female         NaN
                                        Male           NaN
                           35 to 44     Female         NaN
                                        Male           NaN
                           45 to 54     Female         NaN
                                        Male           NaN
                           55 to 64     Female         NaN
                                        Male           NaN
                           65 and over  Female         NaN
                                        Male           NaN
         Yuma        2010  16 to 19     Female         NaN
                                        Male           NaN
                           20 to 24     Female         NaN
                                        Male           NaN
                           25 to 34     Female         NaN
                                        Male           NaN
                           35 to 44     Female         NaN
                                        Male           NaN
                           45 to 54     Female         NaN
                                        Male           NaN
                           55 to 64     Female         NaN
                                        Male           NaN
                           65 and over  Female         NaN
                                        Male           NaN
Name: Percent, Length: 910, dtype: float64

In [11]:
d2 = pd.read_excel('colorado_voter_data.xlsx', sheetname = 5)

In [21]:
d1.loc[(d1['YEAR'] == 2010) & (d1['County'] == 'Adams'), 'Percent'] = d1['Labor Force']/443711

In [18]:
d2

,CFIPS,YEAR,COUNTY,Total Population,Births,Deaths,Net Migration,Natural Increase,Census Building Permits,Group Quarters Population,Household Population,Households,Household Size,Total Housing Units,Vacancy Rate,Vacant Housing Units
0,1.0,1985,Adams County,268764,5210.0,1304.0,-807.0,3906.0,2741.0,2256.0,266508.0,94949.0,2.81,104376.0,9.0,9427.0
1,3.0,1985,Alamosa County,13011,258.0,79.0,-85.0,179.0,10.0,884.0,12127.0,4277.0,2.84,5113.0,16.4,836.0
2,5.0,1985,Arapahoe County,381244,6458.0,1602.0,9246.0,4856.0,5069.0,3536.0,377708.0,140787.0,2.68,153726.0,8.4,12939.0
3,7.0,1985,Archuleta County,5213,101.0,22.0,149.0,79.0,9.0,0.0,5213.0,1837.0,2.84,3379.0,45.6,1542.0
4,9.0,1985,Baca County,4873,83.0,62.0,-195.0,21.0,1.0,0.0,4873.0,1867.0,2.61,2581.0,27.7,714.0
5,11.0,1985,Bent County,5699,80.0,64.0,-155.0,16.0,6.0,424.0,5275.0,1986.0,2.66,2532.0,21.6,546.0
6,13.0,1985,Boulder County,209444,3326.0,1064.0,-3005.0,2262.0,1953.0,8600.0,200844.0,79100.0,2.54,88178.0,10.3,9078.0
7,14.0,1985,Broomfield County,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0
8,15.0,1985,Chaffee County,12349,156.0,107.0,-538.0,49.0,73.0,612.0,11737.0,4543.0,2.58,6402.0,29.0,1859.0
9,17.0,1985,Cheyenne County,2294,55.0,21.0,23.0,34.0,3.0,14.0,2280.0,965.0,2.36,1060.0,9.0,95.0
10,19.0,1985,Clear Creek County,7936,140.0,40.0,84.0,100.0,53.0,45.0,7891.0,3093.0,2.55,4596.0,32.7,1503.0
11,21.0,1985,Conejos County,7776,143.0,60.0,-312.0,83.0,1.0,0.0,7776.0,2486.0,3.13,3316.0,25.0,830.0
12,23.0,1985,Costilla County,3363,50.0,20.0,73.0,30.0,0.0,0.0,3363.0,1167.0,2.88,1614.0,27.7,447.0
13,25.0,1985,Crowley County,2997,51.0,36.0,94.0,15.0,1.0,53.0,2944.0,1262.0,2.33,1309.0,3.6,47.0
14,27.0,1985,Custer County,2066,22.0,22.0,160.0,0.0,0.0,18.0,2048.0,823.0,2.49,1300.0,36.7,477.0
15,29.0,1985,Delta County,23466,323.0,245.0,-617.0,78.0,10.0,331.0,23135.0,9237.0,2.50,9974.0,7.4,737.0
16,31.0,1985,Denver County,496431,8952.0,4541.0,-4595.0,4411.0,1272.0,13031.0,483400.0,226540.0,2.13,238346.0,5.0,11806.0
17,33.0,1985,Dolores County,1548,27.0,9.0,-154.0,18.0,0.0,0.0,1548.0,571.0,2.71,916.0,37.7,345.0
18,35.0,1985,Douglas County,40048,679.0,129.0,3214.0,550.0,2160.0,163.0,39885.0,11824.0,3.37,15225.0,22.3,3401.0
19,37.0,1985,Eagle County,18029,386.0,41.0,923.0,345.0,74.0,6.0,18023.0,7498.0,2.40,13585.0,44.8,6087.0
20,39.0,1985,Elbert County,8560,109.0,42.0,233.0,67.0,184.0,35.0,8525.0,2908.0,2.93,3520.0,17.4,612.0
21,41.0,1985,El Paso County,368506,7055.0,1851.0,8645.0,5204.0,6499.0,17384.0,351122.0,133562.0,2.63,149466.0,10.6,15904.0
22,43.0,1985,Fremont County,31366,364.0,374.0,93.0,-10.0,259.0,2749.0,28617.0,10955.0,2.61,13085.0,16.3,2130.0
23,45.0,1985,Garfield County,25714,467.0,172.0,-238.0,295.0,56.0,444.0,25270.0,9426.0,2.68,12647.0,25.5,3221.0
24,47.0,1985,Gilpin County,3081,41.0,17.0,31.0,24.0,36.0,51.0,3030.0,1128.0,2.69,2185.0,48.4,1057.0
25,49.0,1985,Grand County,9212,144.0,41.0,218.0,103.0,160.0,9.0,9203.0,3751.0,2.45,9948.0,62.3,6197.0
26,51.0,1985,Gunnison County,10390,140.0,50.0,-117.0,90.0,87.0,1399.0,8991.0,4072.0,2.21,7165.0,43.2,3093.0
27,53.0,1985,Hinsdale County,472,5.0,0.0,-116.0,5.0,20.0,0.0,472.0,168.0,2.81,888.0,81.1,720.0
28,55.0,1985,Huerfano County,6809,85.0,81.0,165.0,4.0,38.0,144.0,6665.0,2778.0,2.40,4123.0,32.6,1345.0
29,57.0,1985,Jackson County,1729,28.0,7.0,-85.0,21.0,7.0,19.0,1710.0,600.0,2.85,1166.0,48.5,566.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7958,NaN,1880,Yuma ...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7959,NaN,1890,Yuma ...,241,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7960,NaN,1900,Yuma ...,139,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7961,NaN,1910,Yuma ...,333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7962,NaN,1920,Yuma ...,1177,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7963,NaN,1930,Yuma ...,1360,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7964,NaN,1940,Yuma ...,1606,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7965,NaN,1950,Yuma ...,1908,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7966,NaN,1960,Yuma ...,1919,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7967,NaN,1970,Yuma ...,2259,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7968,NaN,1980,Yuma ...,2824,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7969,NaN,1990,Yuma ...,2719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7970,NaN,2000,Yuma ...,3285,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7971,NaN,2010,Yuma ...,3524,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7972,NaN,1870,Yuma ...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7973,NaN,1880,Yuma ...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7974,NaN,1890,Yuma ...,2596,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7975,NaN,1900,Yuma ...,1729,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7976,NaN,1910,Yuma ...,8499,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7977,NaN,1920,Yuma ...,13897,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7978,NaN,1930,Yuma ...,13613,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7979,NaN,1940,Yuma ...,12102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7980,NaN,1950,Yuma ...,10827,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7981,NaN,1960,Yuma ...,8912,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7982,NaN,1970,Yuma ...,8544,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7983,NaN,1980,Yuma ...,9682,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7984,NaN,1990,Yuma ...,8954,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7985,NaN,2000,Yuma ...,9841,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7986,NaN,2010,Yuma ...,10043,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7987,NaN,1880,Erie ...,358,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN